<rb-header></rb-header>

<div class="container">


    <div class="row">
        <h2>NgClass / Ng Style</h2>
        <!--<div ngStyle="{background:'red',height:'100px',width:'100px'}"></div>-->
        <hr/>
        <h2>Custom Attribute</h2>
        <div [highLight]="'red'" [defaultColor]="'green'">Highlight directve test</div>
        <hr/>
        <h2>Structural Directives</h2>
        <h3>*ngIf</h3>
        <div *ngIf="switch">switch</div>
        <button (click)="onSwitch()">switch</button>
        <h3>*ngFor</h3>
        <ul>
            <li *ngFor="let item of items; let i = index">{{item}} - {{i}}</li>
        </ul>
        <h3>*ngSwitch</h3>
        <div [ngSwitch]="value">
            <p *ngSwitchCase="100">foi</p>
            <p *ngSwitchCase="200">não foi</p>
            <p *ngSwitchDefault>0</p>
        </div>
        <h3>*ngUnless</h3>
        <div *unless="switch">
            Texto unless
        </div>

    </div>

    <div class="row">
        <rb-recipes></rb-recipes>
        <rb-shopping-list></rb-shopping-list>
    </div>



</div>